.home{
  &-header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding-top: 21px;

    button{
      border: none;
      background-color: transparent;
      padding: 15px 22px;
      &:hover{
        border: 1px solid #FFCA1D;
      }
    }
  }
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    text-align: center;
    h1{
      font-style: normal;
      font-weight: 200;
      font-size: 56px;
      line-height: 68px;
      margin-bottom: 25px;
      span{
        &:first-child{
          background-color: orange;
        }
        &:last-child{
          font-weight: 700;
        }
      }
    }
    button{
      background: #394BEB;
      border-radius: 8px;
      width: 210px;
      height: 56px;
      color: white;
      border: none;
      margin-bottom: 63px;
    }
  }
}